section {
    width: 80%;
    padding: 20px;
    border: 2px dotted rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#sec1 {
    background-color: aliceblue;
}

#secDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btC1 {
    margin: 20px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#msg1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    background-color: blue;
    color: white;
}