form {
    width: 100%;
}
.fdiv {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.div1 {
    width: 100%;   
    text-align: center; 
    margin: 10px;
}
.div2 {
    display: inline-flex;
    justify-content: center;
    width: 33%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.bt11 {
    width: 70%;
    height: 40px;
    text-align: center;   
    
}
input[type=text] {
    width: 80%;
    height: 40px;
}

#txt2 {
    background-color: beige;
}
